In [1]:
import pandas as pd

In [2]:
college = pd.read_csv('salaries-by-college-type.csv')
college

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00","$76,800.00","$99,200.00","$168,000.00","$220,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",NaN,"$80,200.00","$142,000.00",NaN
5,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00","$80,000.00","$91,200.00","$137,000.00","$180,000.00"
6,Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00","$63,300.00","$80,100.00","$150,000.00","$209,000.00"
7,Rensselaer Polytechnic Institute (RPI),Engineering,"$61,100.00","$110,000.00","$71,600.00","$85,500.00","$140,000.00","$182,000.00"
8,Georgia Institute of Technology,Engineering,"$58,300.00","$106,000.00","$67,200.00","$85,200.00","$137,000.00","$183,000.00"
9,Colorado School of Mines,Engineering,"$58,100.00","$106,000.00","$62,200.00","$87,900.00","$142,000.00","$201,000.00"
10,Stevens Institute of Technology,Engineering,"$60,600.00","$105,000.00","$68,700.00","$81,900.00","$138,000.00","$185,000.00"
11,Illinois Institute of Technology (IIT),Engineering,"$56,000.00","$97,800.00","$56,100.00","$77,400.00","$121,000.00","$165,000.00"
12,Wentworth Institute of Technology,Engineering,"$53,000.00","$96,700.00","$55,200.00","$74,000.00","$117,000.00","$153,000.00"
13,Virginia Polytechnic Institute and State Unive...,Engineering,"$53,500.00","$95,400.00","$50,600.00","$71,400.00","$124,000.00","$163,000.00"
14,South Dakota School of Mines & Technology,Engineering,"$55,800.00","$93,400.00","$71,500.00","$81,900.00","$122,000.00","$147,000.00"
15,New Mexico Institute of Mining and Technology ...,Engineering,"$51,000.00","$93,400.00",NaN,"$67,400.00","$123,000.00",NaN
16,Rochester Institute of Technology (RIT),Engineering,"$48,900.00","$84,600.00","$45,000.00","$62,100.00","$112,000.00","$159,000.00"
17,Embry-Riddle Aeronautical University (ERAU),Engineering,"$52,700.00","$80,700.00","$49,800.00","$64,000.00","$106,000.00","$142,000.00"
18,Tennessee Technological University,Engineering,"$46,200.00","$80,000.00","$42,100.00","$62,600.00","$99,500.00","$121,000.00"
19,University of Illinois at Urbana-Champaign (UIUC),Party,"$52,900.00","$96,100.00","$48,200.00","$68,900.00","$132,000.00","$177,000.00"
20,"University of Maryland, College Park",Party,"$52,000.00","$95,000.00","$50,400.00","$68,300.00","$126,000.00","$166,000.00"
21,"University of California, Santa Barbara (UCSB)",Party,"$50,500.00","$95,000.00","$51,300.00","$71,200.00","$129,000.00","$173,000.00"
22,University of Texas (UT) - Austin,Party,"$49,700.00","$93,900.00","$50,100.00","$67,400.00","$129,000.00","$188,000.00"
23,State University of New York (SUNY) at Albany,Party,"$44,500.00","$92,200.00","$47,000.00","$63,100.00","$135,000.00","$209,000.00"
24,University of Florida (UF),Party,"$47,100.00","$87,900.00","$45,400.00","$62,900.00","$120,000.00","$172,000.00"
25,Louisiana State University (LSU),Party,"$46,900.00","$87,800.00","$43,700.00","$61,300.00","$120,000.00","$165,000.00"
26,University of Georgia (UGA),Party,"$44,100.00","$86,000.00","$43,100.00","$57,800.00","$118,000.00","$164,000.00"
27,Pennsylvania State University (PSU),Party,"$49,900.00","$85,700.00","$46,300.00","$62,000.00","$117,000.00","$160,000.00"
28,Arizona State University (ASU),Party,"$47,400.00","$84,100.00","$44,600.00","$60,700.00","$114,000.00","$163,000.00"
29,"Indiana University (IU), Bloomington",Party,"$46,300.00","$84,000.00","$43,600.00","$60,400.00","$119,000.00","$178,000.00"
...,...,...,...,...,...,...,...,...
239,University of Alabama at Birmingham (UAB),State,"$39,200.00","$70,100.00","$43,000.00","$53,400.00","$91,400.00","$125,000.00"
240,University of Memphis (U of M),State,"$41,400.00","$69,700.00","$36,100.00","$49,100.00","$93,500.00","$127,000.00"
241,Boise State University (BSU),State,"$40,800.00","$69,500.00","$37,400.00","$48,700.00","$87,500.00","$110,000.00"
242,Missouri State University (MSU),State,"$36,100.00","$69,500.00","$33,300.00","$46,900.00","$102,000.00","$134,000.00"
243,University of Wisconsin (UW) - La Crosse,State,"$42,200.00","$69,300.00","$37,500.00","$47,200.00","$93,100.00","$133,000.00"
244,Appalachian State University,State,"$40,400.00","$69,100.00","$37,200.00","$50,400.00","$90,800.00","$115,000.00"
245,Virginia Commonwealth University (VCU),State,"$42,000.00","$68,400.00","$37,400.00","$51,900.00","$100,000.00","$123,000.00"
246,University of Wisconsin (UW) - Stout,State,"$43,600.00","$68,300.00","$40,900.00","$50,600.00","$91,600.00","$136,000.00"
247,East Carolina University (ECU),State,"$40,200.00","$67,500.00","$38,400.00","$52,000.00","$98,700.00","$151,000.00"
248,Utah Valley State College,State,"$42,400.00","$67,100.00","$27,000.00","$44,100.00","$84,900.00","$110,000.00"
249,University of Missouri - St. Louis (UMSL),State,"$41,400.00","$67,100.00","$36,800.00","$49,600.00","$97,600.00","$144,000.00"
250,Western Carolina University,State,"$36,900.00","$66,600.00","$39,000.00","$49,500.00","$94,400.00","$133,000.00"
251,University of Wisconsin (UW) - Oshkosh,State,"$39,300.00","$66,400.00","$37,700.00","$49,700.00","$90,100.00","$138,000.00"
252,State University of New York (SUNY) at Fredonia,State,"$37,800.00","$66,200.00","$32,800.00","$44,200.00","$93,300.00","$181,000.00"
253,University of Missouri - Kansas City (UMKC),State,"$38,900.00","$65,800.00","$36,300.00","$48,100.00","$95,800.00","$124,000.00"
254,University of Wisconsin (UW) - Eau Claire,State,"$41,400.00","$64,800.00","$35,000.00","$47,300.00","$93,100.00","$125,000.00"
255,Ball State University (BSU),State,"$39,100.00","$64,500.00","$35,500.00","$48,200.00","$89,300.00","$128,000.00"
256,University of North Carolina at Wilmington (UNCW),State,"$37,500.00","$64,400.00","$32,100.00","$46,600.00","$97,100.00","$129,000.00"
257,University of Wisconsin (UW) - Stevens Point,State,"$39,800.00","$64,000.00","$38,400.00","$45,100.00","$95,400.00","$128,000.00"
258,University of Southern Maine,State,"$39,400.00","$63,600.00","$40,400.00","$47,900.00","$85,700.00","$117,000.00"
259,Arkansas State University (ASU),State,"$38,700.00","$63,300.00","$33,600.00","$45,300.00","$83,900.00","$118,000.00"
260,Kent State University,State,"$38,700.00","$62,600.00","$36,100.00","$45,800.00","$87,000.00","$124,000.00"
261,Tarleton State University (TSU),State,"$40,800.00","$62,400.00","$32,100.00","$47,400.00","$80,400.00","$126,000.00"
262,University of Wisconsin (UW) - Green Bay,State,"$35,800.00","$60,600.00","$35,500.00","$46,800.00","$81,800.00","$102,000.00"
263,Morehead State University,State,"$34,800.00","$60,600.00","$34,300.00","$46,500.00","$72,000.00","$91,300.00"
264,Austin Peay State University,State,"$37,700.00","$59,200.00","$32,200.00","$40,500.00","$73,900.00","$96,200.00"
265,Pittsburg State University,State,"$40,400.00","$58,200.00","$25,600.00","$46,000.00","$84,600.00","$117,000.00"
266,Southern Utah University,State,"$41,900.00","$56,500.00","$30,700.00","$39,700.00","$78,400.00","$116,000.00"
267,Montana State University - Billings,State,"$37,900.00","$50,600.00","$22,600.00","$31,800.00","$78,500.00","$98,900.00"
268,Black Hills State University,State,"$35,300.00","$43,900.00","$27,000.00","$32,200.00","$60,900.00","$87,600.00"

In [3]:
college.head(10)

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00","$76,800.00","$99,200.00","$168,000.00","$220,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",NaN,"$80,200.00","$142,000.00",NaN
5,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00","$80,000.00","$91,200.00","$137,000.00","$180,000.00"
6,Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00","$63,300.00","$80,100.00","$150,000.00","$209,000.00"
7,Rensselaer Polytechnic Institute (RPI),Engineering,"$61,100.00","$110,000.00","$71,600.00","$85,500.00","$140,000.00","$182,000.00"
8,Georgia Institute of Technology,Engineering,"$58,300.00","$106,000.00","$67,200.00","$85,200.00","$137,000.00","$183,000.00"
9,Colorado School of Mines,Engineering,"$58,100.00","$106,000.00","$62,200.00","$87,900.00","$142,000.00","$201,000.00"

In [4]:
college.tail()

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
264,Austin Peay State University,State,"$37,700.00","$59,200.00","$32,200.00","$40,500.00","$73,900.00","$96,200.00"
265,Pittsburg State University,State,"$40,400.00","$58,200.00","$25,600.00","$46,000.00","$84,600.00","$117,000.00"
266,Southern Utah University,State,"$41,900.00","$56,500.00","$30,700.00","$39,700.00","$78,400.00","$116,000.00"
267,Montana State University - Billings,State,"$37,900.00","$50,600.00","$22,600.00","$31,800.00","$78,500.00","$98,900.00"
268,Black Hills State University,State,"$35,300.00","$43,900.00","$27,000.00","$32,200.00","$60,900.00","$87,600.00"

In [5]:
college.shape

(269, 8)

In [6]:
region = pd.read_csv('salaries-by-region.csv')
region.head()

,School Name,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Stanford University,California,"$70,400.00","$129,000.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00"
1,California Institute of Technology (CIT),California,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,California,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"University of California, Berkeley",California,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00"
4,Occidental College,California,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN

In [7]:
region.shape

(320, 8)

In [8]:
college['School Name'] # returns a Series -- a wrapper around a Numpy Array; it works basically the same as a Numpy array

0            Massachusetts Institute of Technology (MIT)
1               California Institute of Technology (CIT)
2                                    Harvey Mudd College
3           Polytechnic University of New York, Brooklyn
4                                           Cooper Union
5                  Worcester Polytechnic Institute (WPI)
6                       Carnegie Mellon University (CMU)
7                 Rensselaer Polytechnic Institute (RPI)
8                        Georgia Institute of Technology
9                               Colorado School of Mines
10                       Stevens Institute of Technology
11                Illinois Institute of Technology (IIT)
12                     Wentworth Institute of Technology
13     Virginia Polytechnic Institute and State Unive...
14             South Dakota School of Mines & Technology
15     New Mexico Institute of Mining and Technology ...
16               Rochester Institute of Technology (RIT)
17           Embry-Riddle Aeronautical University (ERAU)
18                    Tennessee Technological University
19     University of Illinois at Urbana-Champaign (UIUC)
20                  University of Maryland, College Park
21        University of California, Santa Barbara (UCSB)
22                     University of Texas (UT) - Austin
23         State University of New York (SUNY) at Albany
24                            University of Florida (UF)
25                      Louisiana State University (LSU)
26                           University of Georgia (UGA)
27                   Pennsylvania State University (PSU)
28                        Arizona State University (ASU)
29                  Indiana University (IU), Bloomington
                             ...
239            University of Alabama at Birmingham (UAB)
240                       University of Memphis (U of M)
241                         Boise State University (BSU)
242                      Missouri State University (MSU)
243             University of Wisconsin (UW) - La Crosse
244                         Appalachian State University
245               Virginia Commonwealth University (VCU)
246                 University of Wisconsin (UW) - Stout
247                       East Carolina University (ECU)
248                            Utah Valley State College
249            University of Missouri - St. Louis (UMSL)
250                          Western Carolina University
251               University of Wisconsin (UW) - Oshkosh
252      State University of New York (SUNY) at Fredonia
253          University of Missouri - Kansas City (UMKC)
254            University of Wisconsin (UW) - Eau Claire
255                          Ball State University (BSU)
256    University of North Carolina at Wilmington (UNCW)
257         University of Wisconsin (UW) - Stevens Point
258                         University of Southern Maine
259                      Arkansas State University (ASU)
260                                Kent State University
261                      Tarleton State University (TSU)
262             University of Wisconsin (UW) - Green Bay
263                            Morehead State University
264                         Austin Peay State University
265                           Pittsburg State University
266                             Southern Utah University
267                  Montana State University - Billings
268                         Black Hills State University
Name: School Name, Length: 269, dtype: object

In [9]:
college[college['School Name'].str.contains('University of California')]
# choose the indices (rows) from college where the 'School Name' contains the string 'University of California'

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
21,"University of California, Santa Barbara (UCSB)",Party,"$50,500.00","$95,000.00","$51,300.00","$71,200.00","$129,000.00","$173,000.00"
94,"University of California, Berkeley",State,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00"
97,University of California at Los Angeles (UCLA),State,"$52,600.00","$101,000.00","$51,300.00","$72,500.00","$139,000.00","$193,000.00"
98,"University of California, San Diego (UCSD)",State,"$51,100.00","$101,000.00","$51,700.00","$75,400.00","$131,000.00","$177,000.00"
99,"University of California, Davis",State,"$52,300.00","$99,600.00","$52,000.00","$71,600.00","$135,000.00","$202,000.00"
101,"University of California, Irvine (UCI)",State,"$48,300.00","$96,700.00","$47,800.00","$66,000.00","$123,000.00","$172,000.00"
108,"University of California, Santa Barbara (UCSB)",State,"$50,500.00","$95,000.00","$51,300.00","$71,200.00","$129,000.00","$173,000.00"
143,"University of California, Santa Cruz (UCSC)",State,"$44,700.00","$84,100.00","$46,100.00","$62,000.00","$121,000.00","$165,000.00"
163,"University of California, Riverside (UCR)",State,"$46,800.00","$81,300.00","$37,200.00","$59,900.00","$109,000.00","$134,000.00"

In [10]:
cols = ["School Name", "Starting Median Salary", "Mid-Career Median Salary", "Mid-Career 10th Percentile Salary", "Mid-Career 25th Percentile Salary", "Mid-Career 75th Percentile Salary", "Mid-Career 90th Percentile Salary"]
combined = college.merge(region, how='outer', on=cols) # merge region with college with an "outer"/full joins on the attributes (columns) of variable cols
california = combined[combined['Region'] == 'California'] # from combined, take the indices where the 'Region' is 'California'
california

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary,Region
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN,California
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN,California
23,"University of California, Santa Barbara (UCSB)",Party,"$50,500.00","$95,000.00","$51,300.00","$71,200.00","$129,000.00","$173,000.00",California
24,"University of California, Santa Barbara (UCSB)",State,"$50,500.00","$95,000.00","$51,300.00","$71,200.00","$129,000.00","$173,000.00",California
65,Occidental College,Liberal Arts,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN,California
71,Pomona College,Liberal Arts,"$48,600.00","$101,000.00",NaN,"$63,300.00","$161,000.00",NaN,California
103,Thomas Aquinas College,Liberal Arts,"$41,500.00","$67,500.00",NaN,"$44,600.00","$93,100.00",NaN,California
113,"University of California, Berkeley",State,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00",California
115,Cal Poly San Luis Obispo,State,"$57,200.00","$101,000.00","$55,000.00","$74,700.00","$133,000.00","$178,000.00",California
116,University of California at Los Angeles (UCLA),State,"$52,600.00","$101,000.00","$51,300.00","$72,500.00","$139,000.00","$193,000.00",California
117,"University of California, San Diego (UCSD)",State,"$51,100.00","$101,000.00","$51,700.00","$75,400.00","$131,000.00","$177,000.00",California
118,"University of California, Davis",State,"$52,300.00","$99,600.00","$52,000.00","$71,600.00","$135,000.00","$202,000.00",California
120,"University of California, Irvine (UCI)",State,"$48,300.00","$96,700.00","$47,800.00","$66,000.00","$123,000.00","$172,000.00",California
124,San Jose State University (SJSU),State,"$53,500.00","$95,600.00","$50,700.00","$70,500.00","$122,000.00","$156,000.00",California
131,"California State University (CSU), Chico",State,"$47,400.00","$88,100.00","$46,800.00","$62,800.00","$122,000.00","$154,000.00",California
133,"California State University, Fullerton (CSUF)",State,"$45,700.00","$87,000.00","$45,400.00","$62,500.00","$119,000.00","$158,000.00",California
136,San Francisco State University (SFSU),State,"$47,300.00","$86,400.00","$45,100.00","$62,700.00","$114,000.00","$150,000.00",California
142,San Diego State University (SDSU),State,"$46,200.00","$85,200.00","$45,500.00","$61,800.00","$116,000.00","$158,000.00",California
145,"California State University, Long Beach (CSULB)",State,"$45,100.00","$84,700.00","$47,400.00","$62,500.00","$113,000.00","$154,000.00",California
149,"California State University, East Bay (CSUEB)",State,"$49,200.00","$84,300.00","$46,000.00","$62,400.00","$115,000.00","$155,000.00",California
152,"University of California, Santa Cruz (UCSC)",State,"$44,700.00","$84,100.00","$46,100.00","$62,000.00","$121,000.00","$165,000.00",California
162,"California State University, Sacramento (CSUS)",State,"$47,800.00","$82,400.00","$42,900.00","$59,600.00","$111,000.00","$154,000.00",California
169,"University of California, Riverside (UCR)",State,"$46,800.00","$81,300.00","$37,200.00","$59,900.00","$109,000.00","$134,000.00",California
177,"California State University, Northridge (CSUN)",State,"$45,500.00","$80,400.00","$44,500.00","$57,800.00","$108,000.00","$153,000.00",California
220,"California State University, Dominguez Hills (...",State,"$42,700.00","$72,100.00","$30,800.00","$47,000.00","$92,200.00","$132,000.00",California
231,Humboldt State University,State,"$42,600.00","$71,300.00","$36,000.00","$56,300.00","$94,400.00","$117,000.00",California
269,Stanford University,NaN,"$70,400.00","$129,000.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00",California
270,University of Southern California (USC),NaN,"$54,800.00","$99,600.00","$49,700.00","$73,800.00","$140,000.00","$201,000.00",California
271,"California State University (CSU), Stanislaus",NaN,"$38,000.00","$71,400.00",NaN,"$50,500.00","$94,100.00",NaN,California

In [11]:
california.loc[113] # choose the row with the index 113; return the index in the form of a Series

School Name                          University of California, Berkeley
School Type                                                       State
Starting Median Salary                                       $59,900.00
Mid-Career Median Salary                                    $112,000.00
Mid-Career 10th Percentile Salary                            $59,500.00
Mid-Career 25th Percentile Salary                            $81,000.00
Mid-Career 75th Percentile Salary                           $149,000.00
Mid-Career 90th Percentile Salary                           $201,000.00
Region                                                       California
Name: 113, dtype: object

In [12]:
california.iloc[7] # choose the 7th row (0 indexed like Python); return the index in the form of a Series

School Name                          University of California, Berkeley
School Type                                                       State
Starting Median Salary                                       $59,900.00
Mid-Career Median Salary                                    $112,000.00
Mid-Career 10th Percentile Salary                            $59,500.00
Mid-Career 25th Percentile Salary                            $81,000.00
Mid-Career 75th Percentile Salary                           $149,000.00
Mid-Career 90th Percentile Salary                           $201,000.00
Region                                                       California
Name: 113, dtype: object

In [ ]:
california[california['School Type'].isnull()] # take all the indices where the 'School Type' is a null value

In [ ]:
zero_waste_2020_california = california.dropna(subset=cols, axis=0) 
# clean the data in a very bad way by dropping all the indices that have a NaN in any of the attributes of the variable cols
zero_waste_2020_california

In [ ]:
zero_waste_2020_california.plot.bar(x='School Name', y='Starting Median Salary') # why doesn't this work?

In [ ]:
zero_waste_2020_california['Starting Median Salary'] = zero_waste_2020_california['Starting Median Salary'].str.replace(r"\$|,", "").astype(float)
# reassign the attribute 'Starting Median Salary' to this right hand side
# right hand side: take this Series, for each item, replace any dollar signs or commas with nothing; then turn the item into a float

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Default plot configurations
%matplotlib inline
plt.rcParams['figure.figsize'] = (16,8)
plt.rcParams['figure.dpi'] = 150
sns.set()

from IPython.display import display, Latex, Markdown
plt.xticks(rotation=270) 
sns.barplot(x='School Name', y='Starting Median Salary', data=zero_waste_2020_california);

In [ ]:
go_bears = zero_waste_2020_california.drop(269)
plt.xticks(rotation=270) 
sns.barplot(x='School Name', y='Starting Median Salary', data=go_bears);

In [ ]:
# Good job getting through this document!
# There's plenty of other ways to clean and visualize the data, so try plotting or looking at different attributes :)
# Ask your mentors questions if you are confused!
# -Vincent Lao